.tera, .giga, .mega, .kilo, .alpha, .beta, .gamma, .delta, .epsilon, .zeta {
    margin-top: $heading-margin-top;
    margin-bottom: $heading-margin-bottom;
    line-height: 1.3;
}

.tera {
    font-size: $tera-size;
}

.giga {
    font-size: $giga-size;
}

.mega {
    font-size: $mega-size;
}

.kilo {
    font-size: $kilo-size;
}

.alpha {
    font-size: $alpha-size;
}

.beta {
    font-size: $beta-size;
}

.gamma {
    font-size: $gamma-size;
}

.delta {
    font-size: $delta-size;
}

.epsilon {
    font-size: $epsilon-size;
}

.zeta {
    font-size: $zeta-size;
}

.milli {
    font-size: $milli-size;
}

.micro {
    font-size: $micro-size;
}
