$breakpoint-map: (
    tiny: (
        min-width: 0px,
    ),
    small: (
        min-width: 30em,
    ),
    medium: (
        min-width: 45em,
    ),
    large: (
        min-width: 60em,
    ),
    xl: (
        min-width: 75em,
    ),
    xxl: (
        min-width: 90em,
    )
);
