/**
 * Colors
 */
.text--secondary {
    color: grey;
}

.text--tertiary {
    color: grey;
    font-style: italic;
}

.text--alert {
    color: $color-alert;
    font-weight: bold;
}

.text--success {
    color: $color-success;
    font-weight: bold;
}

.text--error {
    color: $color-error !important;
    font-weight: bold !important;
}

/**
 * Upper/lower case
 */

.text--uppercase {
    text-transform: uppercase !important;
}

.text--lowercase {
    text-transform: lowercase !important;
}


/**
 * Text alignment
 */
.text--right {
    text-align: right !important;
}

.text--left {
    text-align: left !important;
}

.text--center {
    text-align: center !important;
}


/**
 * White space
 */
.text--normalwrap {
    white-space: normal !important;
}

.text--nowrap {
    white-space: nowrap !important;
}

.text--pre {
    white-space: pre !important;
}

/**
 * Weight
 */

.weight--light          { @include weight--light; }

.weight--normal         { @include weight--normal; }

.weight--semibold       { @include weight--semibold; }

.weight--bold           { @include weight--bold; }
