// An example SASS file just to check things are configured properly in this
// repository. Should be removed as soon as we start added actual SASS code.

* {
    color: red;
    border-radius: 5px;
    transition: 1s;
}
