@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

/**
 * Use this mixin when you want clearfix to be removed
 */
@mixin noFlexClearfix {
    // Add clearfix to flex container
    @include clearfix;
    .flexbox & {
        &:after {
            content: none;
        }
    }
}
