/**
 * Some mixins need to be defined here out of context because they are used
 * both in trumps (whose actual CSS declarations have to come at the end of the
 * stylesheet) but also in earlier defined files.
 */


/**
 * Font weight helpers
 */
@mixin weight--light    { font-weight: 300 !important; }
@mixin weight--normal   { font-weight: 400 !important; }
@mixin weight--semibold { font-weight: 600 !important; }
@mixin weight--bold     { font-weight: 700 !important; }