/**
 * Some mixins need to be defined here out of context because they are used
 * both in trumps (whose actual CSS declarations have to come at the end of the
 * stylesheet) but also in earlier defined files.
 */


/**
 * Font weight helpers
 */
@mixin weight--light    { font-weight: $weight--light !important; }
@mixin weight--normal   { font-weight: $weight--normal !important; }
@mixin weight--semibold { font-weight: $weight--semibold !important; }
@mixin weight--bold     { font-weight: $weight--bold !important; }